<?xml version="1.0" encoding="utf-8"?>
<scheduledTasks>
  <!--<scheduledTask scheduledTaskId="" taskUrl="" taskName="" taskNotifier ="" executeEvery="" executeDays="" executeHour="" executeMinute="" runTaskAs=""/>-->
  <scheduledTask scheduledTaskId="72037845-2f84-4263-b9dc-e72e9bf50415" taskUrl="" taskName="task" taskNotifier="" executeEvery="Hour" executeDays="" executeHour="0" executeMinute="0" />
  <scheduledTask scheduledTaskId="faad3cf1-190a-4b38-b80c-c20e8247a4c8" taskUrl="" taskName="tst" taskNotifier="" executeEvery="Week" executeDays="" executeHour="0" executeMinute="0" />
  <scheduledTask scheduledTaskId="481ac2ee-d189-4620-9d15-5782cfc0afc4" taskUrl="" taskName="DayTask" taskNotifier="" executeEvery="Week" executeDays="" executeHour="0" executeMinute="0" />
  <scheduledTask scheduledTaskId="17d3f091-e61f-46db-a672-d2ae6b6bfa55" taskUrl="" taskName="DayTask" taskNotifier="" executeEvery="Week" executeDays="" executeHour="0" executeMinute="0" />
  <scheduledTask scheduledTaskId="8b446148-bf19-4daf-8513-94b7dafb93ee" taskUrl="" taskName="DayTaskDieHetdoet" taskNotifier="" executeEvery="Week" executeDays="" executeHour="0" executeMinute="0" />
  <scheduledTask scheduledTaskId="4c1a7e74-eedb-4cfb-a5de-9d006989974a" taskUrl="" taskName="di" taskNotifier="" executeEvery="Week" executeDays="" executeHour="0" executeMinute="0" />
</scheduledTasks>