@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-----A D V E R T I S I N G   B A N N E R ----- S T A R T ------>
<a id="advert" href="/500-lives/"><div class="banner"></div></a>
<!-----A D V E R T I S I N G   B A N N E R ----- E N D ------>