@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();

    <div id="logo"><a href="@homeNode.Url">@globalSettings.GetProperty("websiteName").Value</a></div>

}
