<?xml version="1.0" encoding="utf-8"?>
<SchedulerConfig>
  <schedulerFromAdress>robot@taskscheduler.com</schedulerFromAdress>
  <schedulerSubject>Scheduled task executed -gwh-local</schedulerSubject>
  <schedulerTemplate>&lt;p&gt;This is an automated mail to inform you that the task &lt;strong&gt;[#Taskname]&lt;/strong&gt; executed!&lt;/p&gt;&lt;p&gt;[#Output]&lt;/p&gt;    </schedulerTemplate>
</SchedulerConfig>