@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ClinicalResources>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
<div class="cliHeader" id="zoneClinical">
<img id="zonePageIcon" src="/media/1074/zonepageiconclinical.png" />
<h1 id="zoneWhite">Clinical resources</h1>
</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->

	<!----CLINICAL RESOURCES GRID START------------------------------------------------------>
	<div class="cliGrid">



		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">3Ts<br />Formulary</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->

		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">6Cs online hub</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">AMU List</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Automated Reminder Service (360)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">CaDIS System</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Cardiology Results (pre-November 2010)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Choose & Book (Smartcard users only)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">CRMS Medics</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">CVIS</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Data Warehouse</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Downtime Clinical Noting View (if Medway is unavailable)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">EIDO Patient Information Leaflets</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Electronic Discharge Summary</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Emergency Patient Index</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">GE AssetPlus</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">ICE GWH (E-requesting and results)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Information Prescription Service</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Incident Notification Form</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">JAC e-prescribing (not for Outpatient use)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Map of Medicine</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Marsden Manual</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Medical Imaging Management System</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Mortality and Morbility Data Share</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">National Cancer Patient Information Pathways</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">NHS Spinal Portal (Smartcard user only)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Nurse Handover - contingency access (to last Medway update)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Outpatient room booking service</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Prescription tracking</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Royal United Hospitals (RUH) Bath ICE System Login</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Shared Business Services (SBS)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Trust Equipment Exchange</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="xxxxxx.htm">
			<div id="cliSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="cliIcon"><img src="/media/1051/zonearrow40.png" /></td>
				</tr>
				<tr>
					<td id="cliText">Ward enquiry</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->





	</div>
	<!----CLINICAL RESOURCES GRID END------------------------------------------------------>




</div>
<!----- P A G E   C O N T A I N E R --- E N D ----->


</body>
</html>