@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.DepartmentsIndex>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
	<div id="departmentsHeadBackground"><img id="zonePageIcon" src="/media/1070/zonepageiconsupport.png" /><h1 id="zoneWhite">@Umbraco.Field("pageName")</h1>
	</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->












	<!----LETTERS GRID START------------------------------------------------------>
	<div id="depLetterGrid">

		<!---ITEM---START--->
			<a href="/departments/departments-a/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">A</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-b/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">B</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-c/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">C</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-d/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">D</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-e/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">E</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-f/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">F</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-g/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">G</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-h/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">H</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-i/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">I</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-l/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">L</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
	
		<!---ITEM---START--->
			<a href="/departments/departments-m/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">M</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-n/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">N</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-o/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">O</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-p/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">P</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-q/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">Q</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->


		<!---ITEM---START--->
			<a href="/departments/departments-r/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">R</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-s/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">S</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-t/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">T</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-u/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">U</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		<!---ITEM---START--->
			<a href="/departments/departments-w/">
			<div id="depLetterSquare">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="depLetter">W</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->






	</div>
	<!----LETTERS GRID END------------------------------------------------------>



