@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EssentialSupportServicesIndex>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
	<div id="essHeadBackground"><img id="zonePageIcon" src="/media/1070/zonepageiconsupport.png" /><h1 id="zoneWhite">@Umbraco.Field("pageTitle")</h1>
	</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->
	<!----ESS GRID START------------------------------------------------------>
	<div class="essGrid">

@foreach (var item in CurrentPage.Children)
{	
	<a href="@item.url">
	<div id="essSquare">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td id="essIcon"><img src="/media/1051/zonearrow40.png" /></td>
		</tr>
		<tr>
			<td id="essText">@item.Name</td>
		</tr>
		</table>
	</div>
	</a>
}
	</div>
	<!----ESS GRID END------------------------------------------------------>

</div>
<!----- P A G E   C O N T A I N E R --- E N D ----->


</body>
</html>