@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ExternalLink>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
	<title>@Umbraco.Field("pageName")</title>
	<link rel="stylesheet" href="/css/index.css" media="screen">
	<link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/media/1047/favicon3.png" type="image/png" />
	<meta http-equiv="refresh" content="0; URL='@Umbraco.Field("redirectURL")'" target="_blank" />
</head>
<body>
</body>
</html>