@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FiveHundredLivesHomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
	<div id="fiveHeadBackground"><img id="zonePageIcon" src="/media/1947/zonepageiconfive4.png" /><h1 id="zoneWhite">500 Lives</h1>
	</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->
		
		<!-----content container---start----->
	<div id="fiveContainer">
	
	<!-----500 LIVES GRID WRAPPER (for forced 2-row design)----START----->
	<div id="fiveSquareWrapper">

	<!----500 LIVES GRID ROW 1 START------------------------------------------------------>
	<div class="fiveGridRow1">



		<!---ITEM---START--->
			<a href="/500-lives/about-500-lives/">
			<div id="fiveSquare01">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1948/icon-five60reversed.png"></td>
				</tr>
				<tr>
					<td id="fiveText">About<br />500 Lives</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->

		<!---ITEM---START--->
			<a href="/500-lives/safety-videos/">
			<div id="fiveSquare02">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1948/icon-five60reversed.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Safety<br />Videos</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->


		<!---ITEM---START--->
			<a href="/500-lives/sign-up-to-safety/">
			<div id="fiveSquare03">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1139/signuptosafety60x60.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Sign up<br />to Safety</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->

		<!---ITEM---START--->
			<a href="/500-lives/quality-improvement-qi-hub/">
			<div id="fiveSquare04">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1948/icon-five60reversed.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Quality Improvement<br />(QI) Hub</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->


		<!---ITEM---START--->
			<a href="/500-lives/surgical-safety-who-checklist/">
			<div id="fiveSquare05">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1948/icon-five60reversed.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Surgical safety<br />(WHO) checklist</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->
		
		
	</div>
	<!----500 LIVES GRID ROW 1 END------------------------------------------------------>	
	<!----500 LIVES GRID ROW 2 START------------------------------------------------------>
	<div class="fiveGridRow2">
		
		
		<!---ITEM---START--->
			<a href="/500-lives/sign-up-to-safety/acute-kidney-injury-aki/">
			<div id="fiveSquare03">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1139/signuptosafety60x60.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Acute kidney<br />injury (AKI)</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->

		<!---ITEM---START--->
			<a href="/500-lives/sign-up-to-safety/falls/">
			<div id="fiveSquare03">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1139/signuptosafety60x60.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Falls</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->


		<!---ITEM---START--->
			<a href="/500-lives/sign-up-to-safety/pressure-ulcers/">
			<div id="fiveSquare03">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1139/signuptosafety60x60.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Pressure ulcers</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->

		<!---ITEM---START--->
			<a href="/500-lives/sign-up-to-safety/recognition-and-management-of-the-deteriorating-patient/">
			<div id="fiveSquare03">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1139/signuptosafety60x60.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Recognition and management of the deteriorating patient</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->


		<!---ITEM---START--->
			<a href="/500-lives/sign-up-to-safety/sepsis/">
			<div id="fiveSquare03">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td id="fiveIcon"><img src="/media/1139/signuptosafety60x60.png"></td>
				</tr>
				<tr>
					<td id="fiveText">Sepsis</td>
				</tr>
				</table>
			</div>
			</a>
		<!---ITEM---END--->





	</div>
	<!----500 LIVES GRID ROW 2 END------------------------------------------------------>

	</div>		
	<!-----500 LIVES GRID WRAPPER (for forced 2-row design)----END----->


</div>
<!-----content container---end----->



</div>
<!----- P A G E   C O N T A I N E R --- E N D ----->

<!-----<div class="copyright">&#169;2017 Great Western Hospitals NHS Foundation Trust</div>----->


</body>
</html>