@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "NewIntranetMaster.cshtml";
}

@Html.Partial("atozButtons")


<!----- P A G E   H E A D I N G ------------- S T A R T ------->
<div id="grapevineHeadBackground">
    <img id="contentPageIcon" src="/media/1904/zonepageicongrapevine.png" /><h1 id="zoneWhite">Grapevine</h1>
</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->
<!-----------------------M A I N   A R E A   C O N T A I N E R   ---   S T A R T------------->
<div class="grapevineMainArea">
    <!-------- L E F T   N A V I G A T I O N   B A R ------ S T A R T ------>
    <div id="newsNav">
        <div id="thisNews"><a href="/staffroom/grapevine/">Grapevine</a></div>
        <ul id="newsNav1">
            <li><a href="/staffroom/grapevine/about-grapevine/">About Grapevine</a></li>
            <li><a href="/grapevine-items/">Add a message</a></li>
            <li><a href="/staffroom/grapevine/">All current messages</a></li>
        </ul>
    </div>
    <!-------- L E F T   N A V I G A T I O N   B A R ------ E N D ------>
    <!---------------------------------C O N T E N T   S T A R T---------------------------------------------->
    <div id="newsArticleColumn">

        @Html.Action("Index", "CommentFormSurface")

    </div>
    <!---------------------------------C O N T E N T   E N D--------------------------------------------->
</div>
<!-----------------------M A I N   A R E A   C O N T A I N E R   ---   E N D------------->

<!----- P A G E   C O N T A I N E R --- E N D ----->