@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.StatusPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
	<div id="departmentsHeadBackground">
	<img id="zonePageIcon" src="/media/1070/zonepageiconsupport.png" />
	<h1 id="zoneWhite">@Umbraco.Field("pageTitle")</h1>
	</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->
	

<iframe src="http://srv133/toolbar/toolbar.html" width="982px" height="100px" scrolling="no" FRAMEBORDER=0></iframe>
	
	
				 
</div>
<!----- P A G E   C O N T A I N E R --- E N D ----->


